
$themeColor : #ff3d4f;
$yellowColor : #ffdb66;
$blueColor : #0cc7dd;
$paraColor : #9da1a5;

$NunitoFont: 'Nunito', sans-serif;
$SpaceMonoFont: 'Space Mono', monospace;
$SairaFont: 'Saira', sans-serif;
